.menu-bar {
    -fx-background-color: #849db0;
    -fx-opacity: 0.8;
	-fx-border-color:  #5e809a;
	-fx-border-width: 2
}

.menu-bar .menu-button:hover, .menu-bar .menu-button:focused, .menu-bar .menu-button:showing {
    -fx-background: -fx-accent;
    -fx-background-color: #849db0;
    -fx-opacity: 0.5;
}
.menu-item {
    -fx-background-color: #b3c9d496;
}
.menu-item .label{
    -fx-text-fill: #7a97ad;
}

.menu-item:focused .label{
    -fx-text-fill: white;
}
.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
}

.tab-pane {
	-fx-tab-min-height: 2em;
	-fx-tab-min-width: 5em;
}
.tab-pane .tab-header-background {
	-fx-background-color: #849db0;
}
.tab {
	-fx-background-color: #849db0;
	-fx-background-insets: 0 1 0 1;
}
.tab:selected {
	-fx-background-color: #e0e8ee;
}
.tab:selected .tab-label { 
    -fx-font-weight: bold;
	-fx-text-fill: #47494b;
	-fx-font-size: 11pt;
}
.tab .tab-label {
	-fx-font-family: "Segoe UI Semibold";
	-fx-text-fill: white;
	-fx-font-size: 11pt;
}

